html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color:white;
  background-color: #282828;
}

.totalview h2 {
  text-align: center;
  font-family:'Open Sans', arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.circle {
  background-color: #FFF;
  border: 1px #282828 solid;
}

  .americas .circle {
    background-color: #ECDA48;
  }
  
  .asia .circle {
    background-color: #EFA5BD;
  }
  
  .europe .circle {
    background-color: #85D4DC;
  }