html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #282828;
  
  font-family:'Open Sans', arial, sans-serif;
}

#viz {
  position: relative;
}

h1 {
  font-weight: 300;
  margin-left: 10px;
}

.totalview h2 {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.circle {
  background-color: #FFF;
  border: 1px #282828 solid;
}

.americas .circle,
.americas .bar {
  background-color: #ECDA48;
}

  .americas .highlight {
    background-color: #CCC;
  }


.asia .circle,
.asia .bar {
  background-color: #EFA5BD;
}

  .asia .highlight {
    background-color: #CCC;
  }

.europe .circle,
.europe .bar {
  background-color: #85D4DC;
}

  .europe .highlight {
    background-color: #CCC;
  }

.ui-draggable-dragging .circle {
  opacity: .5;
}
  

#percapita {
  position: absolute;
  top: 0px;
  left: 1100px;
}

.percapitaview {
  width: 250px;
}

.percapitaview h2 {
  font-weight: 400;
  font-size: 12px;
  margin: 0 0 8px 0;
  white-space: nowrap;
}

.percapitaview .bar {
  height: 27px;
}
